HTTP_PORT=8080

APP_ENV= #dev/prod
JWT_SECRET=

TOKEN_EXP= # expiration of user token. For example 15m, 1h, 3d
REFRESH_TOKEN_EXP= # expiration of refresh token. For example 720h
VERIFY_TOKEN_EXP= # expiration of email verification token. For example 24h
RESET_TOKEN_EXP= # expiration of password reset token. For example 1h

DB_NAME=auth
POSTGRES_SCHEMA=postgres
POSTGRES_HOST=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PARAMS=auth?sslmode=disable
