HTTP_PORT=8080

APP_ENV= #dev/prod
JWT_SECRET=
APP_BASE_URL=http://localhost:8080
SMTP_HOST=
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM_EMAIL=
SMTP_FROM_NAME=Auth Service

TOKEN_EXP= # expiration of user token. For example 15m, 1h, 3d
REFRESH_TOKEN_EXP= # expiration of refresh token. For example 720h
VERIFY_TOKEN_EXP= # expiration of email verification token. For example 24h
RESET_TOKEN_EXP= # expiration of password reset token. For example 1h
HTTP_READ_TIMEOUT=10s
HTTP_WRITE_TIMEOUT=15s
HTTP_IDLE_TIMEOUT=60s
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
VK_CLIENT_ID=
VK_CLIENT_SECRET=

DB_NAME=auth
POSTGRES_SCHEMA=postgres
POSTGRES_HOST=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PARAMS=auth?sslmode=disable
